<h1>Bookmark</h1> 

<p>
  <strong>Name:</strong>
  <%= @bookmark.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= link_to @bookmark.url %>
</p>

<p>
  <strong>Tags:</strong>
  <%= raw @bookmark.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
</p>

<%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |
<%= link_to 'Back', bookmarks_path %>
