<!DOCTYPE html>
<html>
<head>
  <title>Bookmarker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="Nav">
<% if user_signed_in? %>
  <ul id="Menu">
    <li><%= link_to 'Add +', new_bookmark_path %></li>
    <li><%= link_to 'Account', edit_user_registration_path %></li>
    <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
    <li><%= notice %><%= alert %></li>
  </ul>
<% else %>
  <ul id="Menu">
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <li><%= link_to 'Sign in', new_user_session_path %></li>
    <li><%= notice %><%= alert %></li>
  </ul>
<% end %>
</div>

<%= yield %>

</body>
</html>
